/* ================================= 
  flexbox Styles
==================================== */




/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1200px) {
	.main-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    }

    .name-logo,
    .main-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    

}